<style type="text/css">

#footer img {
  max-width: 75%;
  align-content: center;
}

/*COPYRIGHT */

.copyright{
  text-align: center;
  padding-bottom: 5px;
}

</style>

<!-- FOOTER -->

<section id="footer">

    <div class="container-fluid">


      <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="d-none d-md-block col-12 col-md ">
              <img class="mb-2" src="/images/eduLIBER v1 Big.png" alt="">
            </div>
            <div class="col-6 col-md">
              <h5>Features</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Cool stuff</a></li>
                <li><a class="text-muted" href="#">Random feature</a></li>
                <li><a class="text-muted" href="#">Team feature</a></li>
                <li><a class="text-muted" href="#">Stuff for developers</a></li>
                <li><a class="text-muted" href="#">Another one</a></li>
                <li><a class="text-muted" href="#">Last time</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Resources</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Resource name</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
              </ul>
            </div>

        </footer>
      </div>

</section>

<section id="copyright">
  <div class="row">
    <div class="col-12 copyright">
      <hr class="copyright-divider">
      <p><small>eduLIBER is a 501C3 • Tax ID: ##-####### • Privacy Policy • Fundraising Disclosure • Terms Of Use • Copyright <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script></small></p>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
