<!-- FOOTER -->
<section id="footer">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="icon col-3">
        <img class="center-block bottom-logo" src="images/eduLIBER v1 Big.png" alt="eduLIBER Logo Home">
      </div>
      <div class="col-3 sm-4">

      </div>
      <div class="col-3 sm-4">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-3 sm-4">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Non Profit</a></li>
          <li><a class="text-muted" href="#">Vision/Mission</a></li>
          <li><a class="text-muted" href="#">Board Member Information</a></li>
          <li><a class="text-muted" href="#">Donate(503c3)</a></li>
          <li><a class="text-muted" href="#">FAQ</a></li>
          <li><a class="text-muted" href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </footer>
</section>

<section id="copyright">
  <div class="row">
    <div class="col copyright">
      <hr class="copyright-divider">
      <p><small>eduLIBER is a 501C3 • Tax ID: ##-####### • Privacy Policy • Fundraising Disclosure • Terms Of Use • Copyright <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script></small></p>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
