<style>
  .asdf {
    width: auto; 
    margin: auto;
    }
    img{
      width: 5em;
    }
</style>

<div class="row p-3 align-middle">
  <div class="col asdf text-center align-self-middle">
    <a style="text-decoration: none; color: #4F3B2D" href="https://www.ed.gov/">
      <img src="/images/ColorinColoradologo.png" alt="US Department of Education Seal">
      <!-- <p>USDOE</p> -->
    </a>
 </div> 
 <div class="col asdf text-center align-self-middle">
  <a style="text-decoration: none; color: #4F3B2D" href="https://www.ed.gov/">
    <img src="/images/ColorinColoradologo.png" alt="US Department of Education Seal">
    <!-- <p>USDOE</p> -->
  </a>
</div> 
<div class="col asdf text-center align-self-middle">
  <a style="text-decoration: none; color: #4F3B2D" href="https://www.ncela.ed.gov/">
    <img style="max-width: 100%" src="/images/ncela.png" alt="NCELA Logo">
    <!-- <p>NCELA</p> -->
  </a>
</div>
</div>