<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include("partials/head") -%>

  <style type="text/css">

      .error-template {
        padding: 40px 15px;
        text-align: center;
      }

      .error-actions {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .error-actions .btn {
        margin-right: 10px;
      }

      .donate-button{
        color: white;
        text-decoration: none;
      }

      .donate-button: hover{
        color: white;
        text-decoration:none;
      }

  </style>

  <link rel="stylesheet" href="/styles/styles.css">




</head>

<body>
  <%- include("partials/header") -%>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>
            Error</h1>
          <div class="error-details">
            We've encountered and error and your message has not been sent. Please try again or email us at tech@eduliber.org
          </div>
          <div class="error-actions">
            <a href="/" class="btn btn-lg"><span class="glyphicon glyphicon-home"></span>
              Take Me Home </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer") -%>
</body>
