<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include("partials/head") -%>

  <style type="text/css">
    .heading-image {
      background-image: url("/images/mission_background.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center bottom;
      background-size: cover;
      position: relative;
    }

    .mission-head {
      color: black;
      padding: 3em 1em;
      text-align: center;
    }

    .mission-head-overlay {
      background-color: rgb(256, 256, 256);
      opacity: 0.8;
      padding: 2em 1em;
    }

    .about-text {
      text-align: left;
      padding: 0 5% 0;
    }

    p {
      padding-left: .8em;
    }
  </style>

  <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>
  <%- include("partials/header") -%>

  <div class="container-fluid">
    <div class="row heading-image">
      <div class="col-1">

      </div>
      <div class="col-10 mission-head">
        <div class="mission-head-overlay">
          <h2>FAQs</h2>
          <p style="font-size: .9em;">Frequently Asked Questions
          </p>
        </div>
      </div>
      <div class="col-1">
      </div>
    </div>

    <div class="container pt-4">
      <div class="row">
        <div class="col">
          <div class="about-text">
            <h3>Who are you?</h3>
            <p>eduLIBER is a non profit organization run by multilingual, multicultural women. <br> The
              board consists of educators, publishers, students concerned about equity and access for
              students in United States k12 schools.
            </p>
            <hr>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="about-text">
            <h3>What does eduLIBER mean?</h3>
            <p><strong>Edu-</strong> Education <br>
              <strong>LIBER-</strong> FREE <br>
              Quite simply eduLIBER is a 1 stop location for educators, district administrators looking at both resources and curriculum. <br>
              Informed decision makers ensure ALL students have equitable access.
            </p>
            <hr>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="about-text">
            <h3>Why eduLIBER?</h3>
              <p>Educators have enough responsibility, Eduilber is a one stop for educators, parents, and community leaders to find resources to support their linguistically diverse students.
            </p>
            <hr>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="about-text">
            <h3>What does eduLIBER do?</h3>
            <p>
              We are a non-profit organization with a dual mission to provide easy access to state-wide information about serving Multilingual Learners in K-12 schools and provide honest feedback from educators about classroom materials designed for Multilingual Learners. From the EduLIBER website, anyone involved with the education of Multilingual Learners in any state or territory in the US can easily find what they need in order to better serve this growing group of students.
            </p>
            <hr>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="about-text">
            <h3>Who is eduLIBER for?</h3>
            <p>Educators, Influencers, parents, and any stakeholder that is searching for guidance and content for Multilingual Learners.
            </p>
            <hr>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="about-text">
            <h3>How is this useful for classroom educators?</h3>
            <p>Classroom educators are key influencers in school systems. The curricular resources support educators to influence curricular decisions. As well as they can provide feedback for other educators on curricular materials. In addition, educators are advocates for students rights and services; therefore, the state-wide information about serving Multilingual Learners is critical to ensure they are implemented with fidelity.
            </p>
            <hr>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="about-text">
            <h3>How can I get in contact with eduLIBER?</h3>
            <p>If you are interested in contacting Eduliber, please use the <a href="/contact">contact form</a> to send questions, suggestions or feedback. </p>
            <br>
          </div>
        </div>
      </div>

    </div>
  </div>

  <%- include("partials/footer") -%>
</body>
