<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include("partials/head") -%>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/BoardMemberStyles.css">

</head>


<body>

  <%- include("partials/header") -%>


    <section id="Board-Member-Info">

      <div class="row body-margins">

        <div class="text-center col-lg-12">
          <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/MiaAllenHeadshot.jpg" alt="Mia Allen Headshot">
          <h2 style="padding: 1em;">Mia Ariela Allen
            -Founder</h2>
          </div>
          <div class="col-lg-12">


          <p> &nbsp  &nbsp &nbsp &nbsp  &nbsp  Mia Ariela Allen is the Founder and Director of Professional Learning for Denver-based 4Ed
Consulting. The organization is focused on improving programmatic structures and creating
equitable learning opportunities for English Language Learners. Mia is currently completing
dissertation work focused on English Language Learning programs for newcomer and
refugee students that have timed-out or dropped-out of a traditional secondary school model.
<br><br>&nbsp &nbsp &nbsp &nbsp Mia earned her first Masters at the University of Norther Colorado-Greely focused on
Elementary Education and Culturally and Linguistically Diverse Students. Mia then went on
to study at the University of Colorado-Boulder in the Bueno Center program- focused on
bilingual special education. Mia has taught and coached in Denver Public schools and then
went on to work in the digital publishing industry creating and support English Language
Development and Spanish bilingual and biliteracy-based support resources. During this time
in the publishing industry, Mia had the opportunity to provide WIDA-based workshops for
many consortium member states. <br><br>&nbsp &nbsp &nbsp &nbsp Mia served as the Director of ELL and Bilingual Services for
non-profit organization in Philadelphia where she assisted with an i3 scale grant in Broward
County Schools (Florida), Denver Public Schoo(Colorado), Elizabeth Public Schools (New
Jersey), Houston Independent School District. In her tenure, Mia supported the development
of English language development resources and materials to create sheltered-learning and
coaching aligned to early literacy development across the i3 project.
Mia currently is working with school districts in Colorado, Illinois and New Mexico to develop
language-rich learning enviornments that support cross-curricular English Language
Development.</p>
</div>

          </div>
      </div>


  </div>
  </section>

  <%- include("partials/footer") -%>


  <!--  NO JS DOC
  <script src="index.js"></script> -->


</html>
