<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include("partials/head") -%>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/BoardMemberStyles.css">

</head>


<body>

  <%- include("partials/header") -%>


    <section id="Board-Member-Info">

      <div class="row body-margins">

        <div class="text-center col-lg-12">
          <h2 style="padding-top: 1em;">Joshua Allen
            -Friend of the Board</h2>
            <hr>
          </div>
          <div class="col-lg-12">


          <p> &nbsp  &nbsp &nbsp &nbsp  &nbsp  Josh Allen is the Director of Technical Architecture and Strategy for Denver Public Schools (DPS). His position facilitates the enterprise and solutions architecture across both the academic and operations of Denver Public Schools. DPS is the fastest growing school district in the nation and as a result DPS has invested significantly in technology that allows Teachers, Principals, Students and Parents to manage their data in our district created portals. In his role, Josh ensures the success of the solutions that are implemented in schools, as well as central departments. Throughout his 20 years at DPS,  Josh has managed the district’s distance learning program, set up the district’s website, helped to build the first public school teacher pay for performance system and managed the district’s development, data warehouse and business intelligence teams.  Josh is a fourth generation Coloradoan and a former ECE and Montessori teacher</p>
</div>

          </div>
      </div>


  </div>
  </section>

  <%- include("partials/footer") -%>


  <!--  NO JS DOC
  <script src="index.js"></script> -->


</html>
