<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include("partials/head") -%>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/BoardMemberStyles.css">

</head>


<body>

  <%- include("partials/header") -%>


  <section id="Board-Member-Info">

    <div class="row body-margins">

      <div class="text-center col-lg-12">
        <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/MarcBLiebmanHeadshot.png" alt="Marc B. Liebman Headshot">

        <h2 style="padding-top: 1em;">Marc B. Liebman, Ph.D.
          -Friend of the Board</h2>
        <hr>
      </div>
      <div class="col-lg-12">


        <p> &nbsp &nbsp &nbsp &nbsp &nbsp Marc is all about children and their success and helping them become successful
          learners, responsible citizens and tomorrow’s leaders. He has degrees in History,
          Human Development and Education and spent the first almost 40 years of his
          professional life as an educator in the public schools of California spending the first
          8 years as a teacher and the last 18 as a district superintendent. He has also been a
          principal consultant for IBM and has just retired from being the CAO and Imagine
          Learning, an educational software company.
          Along the way he was named one of the 25 top education technology advocates in
          the United States and, with his wife of 49 years, founded and continue to operate
          the Mindy and Marc Liebman Scholarship Foundation. The foundation focuses on
          helping high risk, high potential students finish their schooling and getting their
          college degrees with a focus on giving back to their communities and helping others
          as part of their becoming our future leaders. </p>
      </div>

    </div>
    </div>


    </div>
  </section>

  <%- include("partials/footer") -%>


  <!--  NO JS DOC
  <script src="index.js"></script> -->


</html>
