<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include("partials/head") -%>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/BoardMemberStyles.css">

</head>


<body>

  <%- include("partials/header") -%>


    <section id="Board-Member-Info">

      <div class="row body-margins">

        <div class="text-center col-lg-12">
          <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/ChandaAustinHeadshot.png" alt="Chanda Austin Headshot">

          <h2 style="padding-top: 1em;">Chanda Austin
            -Member</h2>
            <hr>
          </div>
          <div class="col-lg-12">


          <p> &nbsp  &nbsp &nbsp &nbsp  &nbsp  Chanda Austin is a native of Tuscaloosa, AL and currently
resides in Atlanta, GA. She holds a B.S. and a M.Ed. from
Alabama A&amp;M University, Normal, AL and an Ed. S in School
Leadership from Cambridge College, Cambridge, MA. She
has been an educator for over twenty years serving in several different capacities and is
passionate about people and learning. As a board member of EduLiber, her wealth of
experiences in providing equable, sustainable learning opportunities to culturally and
linguistically diverse students and educators will support strategic planning. She is a proud
mother of an amazing, talented teenage girl.</p>
</div>

          </div>
      </div>


  </div>
  </section>

  <%- include("partials/footer") -%>


  <!--  NO JS DOC
  <script src="index.js"></script> -->


</html>
