<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include("partials/head") -%>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/BoardMemberStyles.css">

</head>


<body>

  <%- include("partials/header") -%>


    <section id="Board-Member-Info">

      <div class="row body-margins">

        <div class="text-center col-lg-12">
          <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/ErinLymanHeadshot.png" alt="Erin Lyman Headshot">

          <h2 style="padding-top: 1em;">Erin Lyman
            -Treasurer</h2>
            <hr>
          </div>
          <div class="col-lg-12">


          <p> &nbsp  &nbsp &nbsp &nbsp  &nbsp  Erin Lyman lives in Denver, Colorado and co-owner of the tax and accounting firm Newton Street CPA. Erin spends her time with her husband David Marsh and their two dogs Moses and Abel. </p>
</div>

          </div>
      </div>


  </div>
  </section>

  <%- include("partials/footer") -%>


  <!--  NO JS DOC
  <script src="index.js"></script> -->


</html>
