<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include("partials/head") -%>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/BoardMemberStyles.css">

</head>


<body>

  <%- include("partials/header") -%>


    <section id="Board-Member-Info">

      <div class="row body-margins">

        <div class="text-center col-lg-12">
          <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/BethSkeltonHeadshot.png" alt="Beth Skelton Headshot">

          <h2 style="padding-top: 1em;">Heather-Robertson Devine
            -Member</h2>
            <hr>
          </div>
          <div class="col-lg-12">


          <p> &nbsp &nbsp &nbsp &nbsp &nbsp  Beth has over 30 years of experience as a language educator and holds a Master’s Degree in Multicultural Teacher Education. She has worked with early childhood, elementary, middle, high school and adult language learners in rural, urban, suburban, and international school settings. She has extensive experience and training in Kagan cooperative learning, student centered instructional coaching, Harvard Project Zero and Visible Thinking Routines, SIOP, and Comprehensible Input Strategies. <br>&nbsp &nbsp &nbsp &nbsp &nbsp She has published materials for teaching adult English Learners with the TPRS method entitled Putting it Together, which have been translated into Spanish, Dutch, French, and sign language. She is a founding member and chair of the Eduliber board and member of the MyEdExpert Board.  Beth currently provides professional development, coaching, and consulting with schools around the world focused on providing equitable education for multilingual learners.



</p>
</div>

          </div>
      </div>


  </div>
  </section>

  <%- include("partials/footer") -%>


  <!--  NO JS DOC
  <script src="index.js"></script> -->


</html>
