<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include("partials/head") -%>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/BoardMemberStyles.css">

</head>


<body>

  <%- include("partials/header") -%>


    <section id="Board-Member-Info">

      <div class="row body-margins">

        <div class="text-center col-lg-12">
          <img class="board-member-image .img-fluid" src="/images/eduliberheadshots/IsraaHusseinHeadshot.png" alt="Israa Hussein Headshot">

          <h2 style="padding-top: 1em;">Israa Hussein
            -Member</h2>
            <hr>
          </div>
          <div class="col-lg-12">


          <p> &nbsp  &nbsp &nbsp &nbsp  &nbsp  I am not a native to the education system but I have been an active member since 2009. I have a Bachelor's degree Psychology and I am currently pursuing a Masters in Healthcare policy. I believe in EduLIBER’s mission because I have first hand experience in how detrimental and ineffective some educators can be when it comes to second language learners and minorities.
</p>
</div>

          </div>
      </div>


  </div>
  </section>

  <%- include("partials/footer") -%>


  <!--  NO JS DOC
  <script src="index.js"></script> -->


</html>
