<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <%- include("partials/head") -%>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/BoardMemberStyles.css">

</head>


<body>

  <%- include("partials/header") -%>


    <section id="Board-Member-Info">

      <div class="row body-margins">

        <div class="text-center col-lg-12">
          <h2 style="padding-top: 1em;">Jennifer Archuleta
            -Secretary</h2>
            <hr>
          </div>
          <div class="col-lg-12">


          <p> &nbsp  &nbsp &nbsp &nbsp  &nbsp  Jennifer has been in education for over 15 years and holds a Master’s Degree in Teaching and a principal license. She worked primarily with early childhood and in elementary settings before moving into the business side of education. She has extensive experience and training in educational assessment and grant writing. She is a founding member of the Eduliber board.  Beth currently provides grants programming and fiscal management for federal, state, and local grants for a Colorado school district.
</p>
</div>

          </div>
      </div>


  </div>
  </section>

  <%- include("partials/footer") -%>


  <!--  NO JS DOC
  <script src="index.js"></script> -->


</html>
