/* BOARD MEMBER SPECIFIC STLYES
LOOK AT BOTTOM OF DOC WHEN REFACTORING */
.body-margins {
  padding: 0 3em 0 3em;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.board-member-image {
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}
.big-head{
  font-weight: 900;
}
.img-col {
  text-align: center;
}

.bio-text {
  padding: 1em;
}

.heading-text {
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  padding: 2em;
  text-align: center;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
 -webkit-box-shadow: 3px 3px 5px 6px #ccc;
 box-shadow:         3px 3px 5px 6px #ccc;
}

.heading-text p{
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .board-member-image {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
  }
}
