/* font-family: 'DM Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif; */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
}

h1{
  /* font-size: 45pt; */
  font-size: 2.75rem;
}
h2{
  font-size: 1.7em;;
}
h3{
  font-size: 1em;
  color: #4F3B2D;
}
a:link, a:visited{
  color: inherit;
  text-decoration: underline;
}

a:hover{
  text-decoration: none;
}

#contents li, #covid-resources li{
  font-family: 'Josefin Sans', sans-serif;
  color: #0B6D9E;
  text-decoration: underline;

}


/* STATE HEADING */

.state-heading{

  background-color: #EAEEEF;
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}

.state-columns{
  padding: 1em 3em;
}


.state-heading-links{
  font-size: .9em;
  font-weight: bold;
}
.state-columns h1{
  padding-top: .5em;
}
.state-image{
  margin: 5% 10% 5%;
  max-width: 10em;
}

/* CONTENTS */
.covid-resources{
  background-color: #EAEEEF;
  margin: 5% auto 5%;
  padding: 20px;
}

.covid-heading{
  color: #FF0500;
  text-align: center;
}

.main-content{
  padding: 0 3em 0;

}


}
